[Desktop Entry]
Exec=/usr/local/bin/DSView
Name=DSView
Comment=GUI Program for DreamSourceLab USB-based Instruments
Icon=logo
Type=Application
Terminal=false
Categories=Development;
